
@media (min-width: 2000px) {
    
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 2100px;
  }
  .fs-custom {
    font-size: 4rem !important;
  }
  .card-run-2 .owl-item .item {
    min-height: 410px;
  }
}


@media (max-width: 1600px){
    .card-run-2 .owl-item .item {
    min-height: 280px;
}
}


@media (min-width: 750px) {
  .width-60 {
    max-width: 80%;
  }
}

@media (min-width: 1199px) {
  .width-60 {
    max-width: 60%;
  }
  .search-1 .form-control {
  text-indent: 5%;
}
}


@media (max-width: 1400px) {
  .mt-6 {
    margin-top: 4rem;
  }
  .slide-one-item .owl-nav .owl-prev {
    left: -20%;
  }
  .slide-one-item .owl-nav .owl-next {
    right: -20%;
}
}


@media (max-width: 1030px) {
  .mt-6 {
    /* margin-top: 3.5rem; */
  }
  .divider::after {
    display: none;
  }
  .slider-92911 .owl-nav button {
    display: none;
  }
  .search-1 .form-control {
  text-indent: 10%;
}
}


@media (min-width: 200px){
    .fs-custom-3 {
    font-size: 2.2rem ;
  }
}

@media (min-width: 700px){
    .fs-custom-3 {
    font-size: 2.3rem ;
  }
}

@media (min-width: 1200px){
    .fs-custom-3 {
    font-size: 1.9rem ;
  }
}

@media (min-width: 1500px){
    .fs-custom-3 {
    font-size: 2.5rem ;
  }
}


@media (min-width: 1900px){
    .fs-custom-3 {
    font-size: 3rem ;
  }
}

@media (min-width: 2000px){
    .fs-custom-3 {
    font-size: 3.5rem ;
  }
}




@media (min-width: 1200px) and (max-width: 1600px) {
    .navbar-brand {
        /* width: 25%; */
    }
    .navbar-brand img {
        /* width: 100%; */
        max-height: 100px;
    }
    .my-nav {
        /* margin-right: 1rem !important; */
    }
    .e-learning-nav .big-logo {
    max-height: 80px;
  }
}


@media (min-width: 2000px){
  .fs-1 {
    font-size: 2.3rem !important;
  }
}

@media (min-width: 1601px) and (max-width: 1930px) {
  .fs-1 {
    font-size: 2rem !important;
  }
  .fs-2 {
    font-size: 1.5rem !important;
  }
  .fs-3 {
    font-size: 1.25rem !important;
  }
  .fs-4 {
    font-size: 1rem !important;
  }
  .card-run-2 .owl-item .item {
    min-height: 320px;
  }
}

@media (min-width: 1401px) and (max-width: 1600px) {
  .fs-1 {
    font-size: 1.6rem !important;
  }
  .fs-2 {
    font-size: 1.1rem !important;
  }
  .fs-3 {
    font-size: 1rem !important;
  }
  .fs-4 {
    font-size: 1rem !important;
  }
  .fs-5 {
    font-size: 1rem !important;
  }
}

@media (min-width: 1000px) and (max-width: 1400px) {
  .fs-1 {
    font-size: 1.3rem !important;
  }
  .fs-2 {
    font-size: 1rem !important;
  }
  .fs-3 {
    font-size: 1rem !important;
  }
  .fs-4 {
    font-size: 1rem !important;
  }
  .fs-5 {
    font-size: 0.9rem !important;
  }
}


@media (min-width: 200px) {
    .form-2 {
    min-width: 90%;
  }
}


@media (min-width: 1020px) {
    .form-2 {
    min-width: 80%;
  }
}

@media (min-width: 1600px) {
    .py-xxl-6 {
    padding-top: 4rem !important;
    padding-bottom: 4rem !important;
  }
  .form-2-container .fs-1 {
    font-size: 3rem !important;
  }
  .form-2 {
    min-width: 60%;
  }
  
}



  


@media (min-width: 1199px) {
    .col-lg-24 {
    flex: 0 0 auto;
    width: 20%;
}
}




@media (max-width: 1050px) {
    .hover-1::after  {
      display: none;
    }
    .two-button {
        display: none !important;
    }
  }

@media (max-width: 768px) {
    .container, .container-fluid, .container-xxl, .container-xl, .container-lg, .container-md, .container-sm {
    /* --bs-gutter-x: 2rem; */
} 
}




@media (max-width: 1920px) {
    #carouselExample1 .carousel-control-prev {
    left: 83%;
    text-indent: -8%;
    }
    #carouselExample1 .carousel-control-next {
        left: 88%;
        text-indent: 5%;
    }
    #carouselExample1 .carousel-control-next,
    #carouselExample1 .carousel-control-prev {
        /* top: 70%; */
    }
}

@media (max-width: 1620px) {
    #carouselExample1 .carousel-control-prev {
    left: 82%;
    text-indent: -8%;
    }
    #carouselExample1 .carousel-control-next {
        left: 88%;
        text-indent: 5%;
    }
    #carouselExample1 .carousel-control-next,
    #carouselExample1 .carousel-control-prev {
        top: 77%;
    }
} 

@media (max-width: 1420px) {
    #carouselExample1 .carousel-control-prev {
    left: 79.5%;
    text-indent: -8%;
    }
    #carouselExample1 .carousel-control-next {
        left: 87%;
        text-indent: 5%;
    }
    #carouselExample1 .carousel-control-next,
    #carouselExample1 .carousel-control-prev {
        top: 72%;
    }
} 

@media (max-width: 1050px) {
    #carouselExample1 .fs-1 {
      font-size: 1.1rem !important;
    }
    #carouselExample1 .fs-2 {
      font-size: 1rem !important;
    }
    #carouselExample1 .fs-3 {
      font-size: 1rem !important;
    }
    .carousel-caption {
      width: 40%;
    }
    #carouselExample1 .carousel-item:nth-child(1) img {
      height: 350px;
      width: unset !important;
      position: relative;
      right: 150px;
    }
    #carouselExample1 .carousel-item:nth-child(2) img {
      height: 350px;
      width: unset !important;
      
    }
    #carouselExample1 .carousel-control-prev {
    left: 75%;
    text-indent: -8%;
    }
    #carouselExample1 .carousel-control-next {
        left: 85%;
        text-indent: 5%;
    }
    #carouselExample1 .carousel-control-next,
    #carouselExample1 .carousel-control-prev {
        top: 70%;
    }
} 

@media (max-width: 900px) {
    #carouselExample1 .fs-1 {
      font-size: 1.1rem !important;
    }
    #carouselExample1 .fs-2 {
      font-size: 1rem !important;
    }
    #carouselExample1 .fs-3 {
      font-size: 1rem !important;
    }
    .carousel-caption {
      width: 45%;
    }
    #carouselExample1 .carousel-item:nth-child(1) img {
      height: 350px;
      width: unset !important;
      position: relative;
      right: 300px;
    }
    #carouselExample1 .carousel-item:nth-child(2) img {
      height: 350px;
      width: unset !important;
    }
    #carouselExample1 .carousel-control-prev {
    left: 72%;
    text-indent: -8%;
    }
    #carouselExample1 .carousel-control-next {
        left: 85%;
        text-indent: 5%;
    }
    #carouselExample1 .carousel-control-next,
    #carouselExample1 .carousel-control-prev {
        top: 70%;
    }

} 

@media (max-width: 700px) {
    #carouselExample1 .fs-1 {
      font-size: 0.9rem !important;
    }
    #carouselExample1 .fs-2 {
      font-size: 0.9rem !important;
    }
    #carouselExample1 .fs-3 {
      font-size: 1rem !important;
    }
    .carousel-caption {
      width: 49%;
    }
    #carouselExample1 .carousel-item:nth-child(1) img {
      height: 400px;
      width: unset !important;
      position: relative;
      right: 620px;
    }
    #carouselExample1 .carousel-item:nth-child(2) img {
      height: 400px;
      width: unset !important;
    }
    #carouselExample1 .carousel-control-prev {
      left: 58%;
      text-indent: -8%;
    }
    #carouselExample1 .carousel-control-next {
        left: 79%;
        text-indent: 5%;
    }
    #carouselExample1 .carousel-control-next,
    #carouselExample1 .carousel-control-prev {
        top: 72%;
    }

} 


@media (min-width: 200px) {
  .fs-custom-2 {
    font-size: 3.5rem;
  }
} 




@media (min-width: 750px) {

  .modal-dialog {
    /* margin-top: 10vh; */
    max-width: 70%;
    margin-right: auto;
    margin-left: auto;
  }
  .slider-92911 .thumbnail img {
    width: 50px;
  }
  .big-logo {
    margin-top: 1.5rem !important;
    margin-bottom: 0.3rem !important;
  }
  .small-nav-cus {
    max-height: 80px !important;
    margin-top: 0 !important;
    margin-bottom: 0!important;
  }
  
}



@media (min-width: 1199px) {
  .big-logo {
    
    margin-bottom: 1.5rem !important;
  }



  
  .small-nav-cus {
    max-height: 60px !important;
    margin-top: 0.7rem !important;
    margin-bottom: 0.7rem !important;
    margin-right: 4rem;
  }
}



@media (max-width: 750px) {
  .ads-button {
    top: 12%;
    left: 52%;
  }

  .vh-button {
    top: 60%;
    left: 70%;
  }

  .sales-button {
    top: 36%;
    left: 12%;
  }

  .luong-button {
    top: 72%;
    left: 18%;
  }

  .doanhso-button {
    top: 58%;
    left: 48%;
  }

  .doitac-button {
    top: 70%;
    left: 62%;
  }

  .chinhanh-button {
    top: 82%;
    left: 44%;
  }

  .radar {
    transform: perspective(1200px) translateX(-10px) translateY(-60px) scale(1) rotate(0deg) rotateX(38deg) rotateY(-22deg) translateZ(0px);
  }

  .search-1 .fs-1 {
    font-size: 1.3rem !important;
  }
}


@media (min-width: 1200px) {
    .nd-chuong .col-lg-2 {
        flex: 0 0 auto;
        width: 18%;
    }
}

@media (min-width: 1900px) {
    .nd-chuong .col-lg-2 {
        flex: 0 0 auto;
        width: 13%;
    }
}



@media (max-width: 1100px) {
    .thong-tin-khoa-hoc {
        flex-direction: column-reverse;

}
}

@media (max-width: 1100px) {
    .filter-search {
        display: none;
    }
}

